<form 
        id="add-task-form"
        hx-post="{% url 'create-task' %}"
        hx-target="#task-table-body"
        hx-swap="afterbegin"
        hx-on:create-task-success="task_modal.close(); this.reset();"
        class="mb-4"
>
    {% csrf_token %}
    {% include "partials/task-form-field.html" with label="Key" field=form.key %}
    {% include "partials/task-form-field.html" with label="Name" field=form.name %}
    {% include "partials/task-form-field.html" with label="Progress (%)" field=form.progress %}
    <div class="modal-action">
        <button type="button" class="btn" onclick="task_modal.close()">Cancel</button>
        <button type="submit" class="btn btn-primary">Add Task</button>
    </div>
</form>