<div id="task-list">
    <div class="overflow-x-auto">
        <table class="table table-zebra table-pin-rows">
            <thead>
            <tr>
                <th></th>
                <th>Key</th>
                <th>Name</th>
                <th>Progress</th>
                <th>Created At</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody id="task-table-body">
            {% if tasks %}
                {% for task in tasks %}
                    {% include 'partials/task-row.html' %}
                {% endfor %}
            {% else %}
                {% include 'partials/no-task-row.html' %}
            {% endif %}
            </tbody>
        </table>
    </div>

</div>
