{% extends 'base.html' %}

{% block content %}

    <div
            x-data="{
            selected: [],
            copyToClipboard() {
                if (this.selected.length === 0) {
                    alert('No items selected.');
                    return;
                }
                
                const today = new Date().toLocaleDateString('ru-RU', {
                    day: 'numeric',
                    month: 'long',
                    year: 'numeric'
                });
                
                const text = `${today}\n\n${this.selected.join('\n')}`;
                
                navigator.clipboard.writeText(text)
                    .then(() => alert('Copied:\n' + text))
                    .catch(err => console.error('Copy failed:', err));
                }
            }"
    >

        <h1 class="text-4xl text-accent mb-8">Daily Reports</h1>
        <div class="flex justify-between items-center gap-4 mb-4">
            <button class="btn btn-primary" onclick="task_modal.showModal()">Add New Task</button>
            {% include 'partials/search.html' %}
            <button class="btn btn-secondary" @click="copyToClipboard">Copy Report</button>
        </div>
        {% include 'partials/task-list.html' %}

        {% include 'partials/add-task-modal.html' %}
        {% include 'partials/edit-task-modal.html' %}
    </div>

{% endblock %}