{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div x-data="dailyReports">
        <h1 class="text-4xl text-accent mb-8">Daily Reports</h1>
        <div class="flex justify-between items-center gap-4 mb-4">
            <button class="btn btn-primary" onclick="task_modal.showModal()">Add New Task</button>
            {% include 'partials/search.html' %}
            <button class="btn btn-secondary" @click="copyToClipboard">Copy Report</button>
        </div>
        {% include 'partials/task-list.html' %}

        {% include 'partials/add-task-modal.html' %}
        {% include 'partials/edit-task-modal.html' %}
    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/dailyReports.js' %}"></script>
{% endblock %}