{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div x-data="dailyReports">
        <div class="flex flex-col md:flex-row items-center gap-4 mb-4">
            <button class="btn btn-primary w-full md:w-auto" onclick="task_modal.showModal()">Add New Task</button>
            <button class="btn btn-secondary w-full md:w-auto" @click="copyToClipboard">Copy Report</button>
            {% include 'partials/search.html' %}
        </div>
        {% include 'partials/task-list.html' %}

        {% include 'partials/add-task-modal.html' %}
        {% include 'partials/edit-task-modal.html' %}
    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/dailyReports.js' %}"></script>
{% endblock %}